# Ignore everything
*

# But not these files...
!.gitignore
!mods/*

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
# !*/a/b/file1.txt
# !*/mods/*